body{
    background-color: rgb(24, 25, 49);
    color: #eeeeee;
    font-family: 'Courier New', Courier, monospace;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 90vh;
}